<?xml version="1.0"?>
<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Base -->
  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.6 0.3 0.1"/>
      </geometry>
    </visual>

    <collision>
      <geometry>
        <box size="0.6 0.3 0.1"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="5.0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.0416667" iyy="0.1541667" izz="0.1875"
               ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <!-- Left Behind Wheel -->
  <link name="left_behind_wheel">
  <visual>
    <origin rpy="1.5708 0 0"/>
    <geometry>
      <cylinder radius="0.1" length="0.02"/>
    </geometry>
    <material name="black">
      <color rgba="0.1 0.1 0.1 1.0"/>
    </material>
  </visual>

  <collision>
    <origin rpy="1.5708 0 0"/>
    <geometry>
      <cylinder radius="0.1" length="0.02"/>
    </geometry>
  </collision>

  <inertial>
    <mass value="0.1"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <inertia ixx="0.000253333" iyy="0.0005" izz="0.000253333"
             ixy="0" ixz="0" iyz="0"/>
  </inertial>
</link>



  <!-- Right Behind Wheel -->
  <link name="right_behind_wheel">
  <visual>
    <origin rpy="1.5708 0 0"/>
    <geometry>
      <cylinder radius="0.1" length="0.02"/>
    </geometry>
    <material name="black"/>
  </visual>

  <collision>
    <origin rpy="1.5708 0 0"/>
    <geometry>
      <cylinder radius="0.1" length="0.02"/>
    </geometry>
  </collision>

  <inertial>
    <mass value="0.1"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <inertia ixx="0.000253333" iyy="0.0005" izz="0.000253333"
             ixy="0" ixz="0" iyz="0"/>
  </inertial>
</link>


  <!-- Left Front Wheel -->
<link name="left_front_wheel">
  <visual>
    <origin rpy="1.5708 0 0"/>
    <geometry>
      <cylinder radius="0.1" length="0.02"/>
    </geometry>
    <material name="black"/>
  </visual>

  <collision>
    <origin rpy="1.5708 0 0"/>
    <geometry>
      <cylinder radius="0.1" length="0.02"/>
    </geometry>
  </collision>

  <inertial>
    <mass value="0.1"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <inertia ixx="0.000253333" iyy="0.0005" izz="0.000253333"
             ixy="0" ixz="0" iyz="0"/>
  </inertial>
</link>



  <!-- Right Front Wheel -->
<link name="right_front_wheel">
  <visual>
    <origin rpy="1.5708 0 0"/>
    <geometry>
      <cylinder radius="0.1" length="0.02"/>
    </geometry>
    <material name="black"/>
  </visual>

  <collision>
    <origin rpy="1.5708 0 0"/>
    <geometry>
      <cylinder radius="0.1" length="0.02"/>
    </geometry>
  </collision>

  <inertial>
    <mass value="0.1"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <inertia ixx="0.000253333" iyy="0.0005" izz="0.000253333"
             ixy="0" ixz="0" iyz="0"/>
  </inertial>
</link>



  <!-- Joints -->
<joint name="left_behind_wheel_joint" type="continuous">
  <parent link="base_link"/>
  <child link="left_behind_wheel"/>
  <origin xyz="-0.2 0.175 0"/>
  <axis xyz="0 1 0"/>
</joint>

<joint name="right_behind_wheel_joint" type="continuous">
  <parent link="base_link"/>
  <child link="right_behind_wheel"/>
  <origin xyz="-0.2 -0.175 0"/>
  <axis xyz="0 1 0"/>
</joint>

<joint name="left_front_wheel_joint" type="continuous">
  <parent link="base_link"/>
  <child link="left_front_wheel"/>
  <origin xyz="0.2 0.175 0"/>
  <axis xyz="0 1 0"/>
</joint>

<joint name="right_front_wheel_joint" type="continuous">
  <parent link="base_link"/>
  <child link="right_front_wheel"/>
  <origin xyz="0.2 -0.175 0"/>
  <axis xyz="0 1 0"/>
</joint>

<gazebo>
  <plugin
    filename="libgz_ros2_control-system.so"
    name="gz_ros2_control::GazeboSystem">
  </plugin>
</gazebo>

</robot>
